{% extends "app/base_site.html" %}
{% load static %}
{% block title %} Breast Cancer Analyzer {% endblock title %}
{% csrf_token %}
{% block stylesheets %}
<<<<<<< HEAD
{{ block.super }}
<!-- jQuery custom content scroller -->
<link href="/static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
<link href="/static/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
<link href="/static/custom_css/somestyle.css" rel="stylesheet">
=======
  {{ block.super }}
  <!-- jQuery custom content scroller -->
  <link href="/static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
  <link href="/static/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
>>>>>>> fd4971c03e5016b9d1065b057d1e65705c8857fc
{% endblock stylesheets %}

{% block body_class %}nav-md footer_fixed{% endblock body_class %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Microcalcification Analyzer</h3>
        <br>
      </div>
<<<<<<< HEAD
    </div>


    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="replace" class="x_panel text-center">
          <div class="x_title">
            <h2>Patient microcalcification SVM analysis</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <p>Drag and drop your patient features file here to start analysis. Click on the start button once the
              upload is complete.</p>
            <form action="/static/build/js/dropzoneCustom.js" class="dropzone" id="drop"></form>
            <br />
            <br />
          </div>
          <div class="col-md-0 text-center">
            <button id="analysis" type="button" class="btn btn-info btn-lg">Launch Analysis</button>
=======
	  

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Patient microcalcification SVM analysis</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <p>Drag and drop your patient features file here to start analysis. Click on the start button once the upload is complete.</p>
              <form action="form_upload.html" class="dropzone"  id="my-dropzone" enctype="multipart/form-data">{% csrf_token %}</form>
              <br />
              <br />
		</div>
		<div class="col-md-0 text-center">
		<form method='post'>
			<input type="button" class="btn btn-info btn-lg" onclick="location.href='http://localhost:8000/click/'" value="Analyze Patient Data">
		</form>

	</div>	
	              <br />
              <br />
            </div>

			
>>>>>>> fd4971c03e5016b9d1065b057d1e65705c8857fc
          </div>
          <br />
          <br />
        </div>


    </div>


  </div>

</div>

{% endblock content %}



{% block javascripts %}
<<<<<<< HEAD
{{ block.super }}
<!-- JQVMap -->
<script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- jQuery custom content scroller -->
<script src="/static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Dropzone.js -->
<script src="/static/build/js/dropzone.js"></script>
<script src="/static/build/js/dropzoneCustom.js"></script>
{% endblock javascripts %}
=======
  {{ block.super }}
  <!-- jQuery custom content scroller -->
  <script src="/static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/static/vendors/dropzone/dist/min/dropzone.min.js"></script>
  <script>
  $.ajax({url:'/click', success(resp){console.log(resp);}});
  console.log("pass");
  </script>
{% endblock javascripts %}
>>>>>>> fd4971c03e5016b9d1065b057d1e65705c8857fc
