{% extends "app/base_site.html" %}

{% block title %}  Model Information {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}

<div class="right_col" role="main">

        <div class="row">
            <div class="container-fluid col-md-offset-5 col-xs-4 col-md-4">
            <h1><u>Model Details</u></strong></small></h1>
        </div>


        <div class="row">
            <div class=" col-xs-6 col-md-6 col-md-offset-2">
                <h2><u>Numeric informations :</u></h2>
                <p><h3> Total micro-calcifications analyzed : 3.563</h3></p>
                <p><h3>Valid identifications : 3171</h3></p>
                <p>
                    <h3>Total patients : 96</h3>
                </p>
                
                
            </div>
            <div class="col-xs-2 col-md-2 col-md-offset-0" >                    
                <h2><u>Model precision : 89%</u></h2>
                <div class="chart" data-percent="89"></div>              
            </div>
            
        </div> 

        <div class="row">
                <div class="container-fluid col-md-offset-5 col-xs-2 col-md-2">
                        <h2><u>Last analyzes</u></h2>
        </div>
        <div class="row"></div>
                  <div class="container-fluid col-md-offset-2 col-xs-8 col-md-8"> 
                        <img src="/static/images/boules.png" alt="Boules" class="img-responsive" width="800"height="500">
                    </div>

        </div>   
     


</div>

{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- ECharts -->
  <script src="/static/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
  
  
  
{% endblock javascripts %}