{% extends "app/base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        
        <div class="row x_title">
          <div class="col-md-6">
            <h3>Patient state <small>this poor shit is dead for me</small></h3>
          </div>
          <div class="col-md-6 text-right">
              <h3>Carla Junk la pute</h3>
          </div>
        </div>
        <div class="clearfix"></div>
        
        <div class="row">
            <br><br>
        
          <div class="profile_pic col-md-2 col-sm-2 col-xs-2">
            <img src="/static/images/picture.jpg" alt="picture" class="img-circle img-responsive" width="300" eight="auto">
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
              <h4 class="x_title">
                Vaccines:
              </h4>
              <ul>
                <li>Seasonal influenza</li>
                <li>Tetanus, diphtheria, and pertussis</li>
                <li>Shingles</li>
                <li>Hepatitis B</li>
                <li>hepatitis A, meningococcal disease, chickenpox and rubella</li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <h4 class="x_title">Allergy:</h4>
              <p>Nothing to declare</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <h4 class="x_title">Referring physician: </h4>
              <p>José Van der meulen</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <h4 class="x_title">Blood type : </h4>
              <p>O+</p>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">
              <h4 class="x_title">Informations about that patient: </h4>
              <ul>
                <li><i>05/14/2013 : </i><b>cesarean delivery</b></li>
                <li><i>12/02/2013 : </i><b>hospitalization due to a car accident</b></li>
                <li><i>03/20/2018 : </i><b>analyses for a possibility of breast cancer</b></li>
              </ul>
            </div>
          </div>

          <br><br><br>
      </div>
    </div> 
  </div>
  
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super}}
<!-- Chart.js -->
<script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- Skycons -->
<script src="/static/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="/static/vendors/Flot/jquery.flot.js"></script>
<script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
<script src="/static/vendors/Flot/jquery.flot.time.js"></script>
<script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
<script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="/static/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}